In [1]:
import pandas as pd

In [10]:
df=pd.read_csv(r"G:\Excelr\Project\Project\Customer_Segmentation\Final.csv")

In [11]:
df.head()

,Unnamed: 0,Education,Marital_Status,Income,Children,Recency,Total_spent,Total_no_purchase,TotalAcceptedCmp,Complain,Response,Age,Labels
0,0,3,0,58138.0,0,58,1617,25,1,0,1,64,2
1,1,3,0,46344.0,2,38,27,6,0,0,0,67,0
2,2,3,1,71613.0,0,26,776,21,0,0,0,56,1
3,3,3,1,26646.0,1,26,53,8,0,0,0,37,0
4,4,2,1,58293.0,1,94,422,19,0,0,0,40,1

In [14]:
df=df.drop(columns="Unnamed: 0",axis=1)
df.head()

,Education,Marital_Status,Income,Children,Recency,Total_spent,Total_no_purchase,TotalAcceptedCmp,Complain,Response,Age,Labels
0,3,0,58138.0,0,58,1617,25,1,0,1,64,2
1,3,0,46344.0,2,38,27,6,0,0,0,67,0
2,3,1,71613.0,0,26,776,21,0,0,0,56,1
3,3,1,26646.0,1,26,53,8,0,0,0,37,0
4,2,1,58293.0,1,94,422,19,0,0,0,40,1

In [6]:
from sklearn.model_selection import train_test_split

In [15]:
X= df.iloc[:,:-1]
y=df.iloc[:,-1]

In [16]:
X.head()

,Education,Marital_Status,Income,Children,Recency,Total_spent,Total_no_purchase,TotalAcceptedCmp,Complain,Response,Age
0,3,0,58138.0,0,58,1617,25,1,0,1,64
1,3,0,46344.0,2,38,27,6,0,0,0,67
2,3,1,71613.0,0,26,776,21,0,0,0,56
3,3,1,26646.0,1,26,53,8,0,0,0,37
4,2,1,58293.0,1,94,422,19,0,0,0,40

In [17]:
y

0       2
1       0
2       1
3       0
4       1
       ..
2211    1
2212    1
2213    1
2214    1
2215    2
Name: Labels, Length: 2216, dtype: int64

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)

RandomForestClassifier()

In [21]:
y_pred=clf.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(y_test,y_pred)

0.9518796992481203

In [24]:
import pickle

In [26]:
filename= r"G:\Excelr\Project\Project\Customer_Segmentation/Classifier.sav"
pickle.dump(clf, open(filename,'wb'))